@import "variables.scss";

header{
    .navbar{
        background-color: $color-secciones;
        color: $color-letras;
        font-family: $tipografia;
        font-size: 1.7rem;
        padding: 1rem;
        ul{
            text-decoration: none;
                li{
                list-style-type: none;
                padding: 20px;
                color: $color-letras;
                letter-spacing: 5px;
                font-size: 1.5rem;
                a{
                   color:$color-letras;
                     &:hover{
                        background-color: $color-fondo;
                        color: $color-letras;
                        border-radius: 30%;
                    }
                }
            }
        }
    }
}

